<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- namespace:命名空间，该值与接口保持一致 -->
<mapper namespace="com.xkm.nmp.dao.IUserDAO">
	<!-- 开启二级缓存，默认情况下没有有开启的 -->
	<cache />
	<!-- 定义Pojo类属性与数据表字段对应关系 -->
	<resultMap type="User" id="userMap">
		<id property="uid" column="uid" />
		<result property="uname" column="uname" />
		<result property="password" column="password" />
		<result property="sex" column="sex" />
		<result property="phone" column="phone" />
		<result property="email" column="email" />
				<!-- 关联关系：多对一 -->

	</resultMap>


	<select id="queryAll" resultMap="userMap">
		SELECT u.uid,u.uname,u.password,u.sex,u.phone,u.email FROM USER_table u
	</select>
	
</mapper>
